<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Buy Dogecoins</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h2 class="text-center">Cryptsy</h2>
    <!-- <p>Cash Into Coins provides a way to purchase Bitcoins using a bank account. Follow the instructions on their site, and they will send the purchased Bitcoins directly to your Coinpunk wallet!</p> -->
    <p>While there is no easy way to directly purchase Dogecoin from USD yet, you can use Cryptsy to trade bitcoin or other coins for Dogecoin that you can send directly to your Dogepunk wallet. Cryptsy is an Internet startup focusing on the exchange of cryptocurrency, where you can purchase and trade more than 90 different types of cryptocurrency -- including Dogecoin.</p>
    
    <p class="text-center">
      <!-- <a href="http://go.cashintocoins.com/UCPiJr?address=<%- coinpunk.wallet.addressHashes()[0] %>" target="_blank" class="btn btn-lg btn-success"><i class="fa fa-money"></i> Buy Bitcoins Now</a> -->
      <a href="https://www.cryptsy.com/users/register" target="_blank" class="btn btn-lg btn-success"><i class="fa fa-money"></i> Buy Dogecoins Now</a>
    </p>
  </div>
</div>